::selection {
    background: #9a2721;
    color: #fff;
}

html {
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 5%;
    margin-left: 5%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #1a1919;
    color: #dfdfdf;
    font-family: Open Sans;
    font-size: 20px;
    text-shadow: #201f1f 0 0 6px;
}

.list li {
    margin-bottom: 10px;
}

.list li::marker {
    content: " ";
}

hr {
    width: 370px;
    border: none;
    border-top: 2px dashed #9a2721;
}

.content {
    display: flex;
    flex-direction: column;
    padding-left: 18px;
}

.subsection {
    margin-bottom: 10px;
    width: fit-content;
    background: rgb(154, 39, 33);
    background: linear-gradient(90deg, rgba(154, 39, 33, 1) 0%, rgba(43, 42, 42, 1) 100%);
}

.content a {
    margin-bottom: 15px;
}

.content ul {
    margin: 0;
}

.card {
    background: rgb(43, 42, 42);
    background: linear-gradient(40deg, rgba(43, 42, 42, 1) 0%, rgba(66, 65, 65, 1) 100%);
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 2px;
    max-width: fit-content;
    border-left: 5px solid #9a2721;
}

.card-icon {
    display: flex;
    position: relative;
    background: rgb(43, 42, 42);
    background: linear-gradient(40deg, rgba(43, 42, 42, 1) 0%, rgba(66, 65, 65, 1) 100%);
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
    border-radius: 2px;
    max-width: 500px;
    min-height: 180px;
    margin-bottom: 20px;
    border-left: 5px solid #9a2721;
    text-shadow: #201f1f 0 0 12px;
    overflow: hidden
}

.card-icon img {
    opacity: 0.3;
    height: 170px;
    position: absolute;
    right: 15px;
    transition: .3s linear;
}

.card-icon:hover img{
    height: 270px;
    transition: .3s linear;
}

.card-full {
    display: flex;
    position: relative;
    background: rgb(43, 42, 42);
    background: linear-gradient(40deg, rgba(43, 42, 42, 1) 0%, rgba(66, 65, 65, 1) 100%);
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
    border-radius: 2px;
    max-width: 500px;
    margin-bottom: 20px;
    border-left: 5px solid #9a2721;
    text-shadow: #201f1f 0 0 12px;
    overflow: hidden
}

.card-full img{
    opacity: 0.3;
    width: 600px;
    margin-top: -6%;
    margin-left: -20px;
    position: absolute;
}

.card-text {
    margin: 0;
    z-index: 2;
}

.card-text a:hover {
    color: #dfdfdf;
}

.card-text h2 {
    font-size: 22px;
    margin-top: 0;
    margin-bottom: 5px;
}

.card-text p {
    font-size: 18px;
    padding-right: 10px;
    margin: 0px;
}

th {
    display: inline-table;
    border-radius: 2px;
}

.sections a {
    border-bottom: 3px solid #9a2721;
}

strong {
    color: #9a2721;
}

a {
    transition: color 0.4s ease-out;
    text-decoration: none;
    color: #dfdfdf;
}

@keyframes glow {
    100% {
        text-shadow: 0 0 1px #ff4b4b;
    }
}

a:hover {
    color: #9a2721;
    animation: 3s linear 0s infinite alternate glow;
}

.footer {
    bottom: 0;
    width: 100%;
    height: 50px;
    font-size: 16px;
    display: flex;
}

.footer p {
    margin-top: 0;
}

.btn {
    background: #771e19;
    border: 4px solid #771e19;
    font-size: medium;
    padding: 5px;
    border-radius: 6px;
    width: fit-content;
}

.btn:hover {
    color: #ff4b4b;
}

@media screen and (max-width: 700px) {
    .content {
        padding-left: 0px;
    }

    .subsection {
        font-size: 18px;
    }

    pre {
        font-size: 0.8rem;
    }

    .card-text h2 {
        font-size: 22px;
    }

    .card-text p {
        font-size: 16px;
    }

    .card-icon img {
        opacity: 0.2;
        right: -30px;
    }

    h1 {
        font-size: 2.1rem;
    }
}

@media screen and (max-width: 410px) {
    hr {
        width: 98%;
    }

    .subsection {
        font-size: 15px;
    }

    .footer {
        font-size: 14px;
    }
}

@media screen and (max-width: 360px) {
    pre {
        font-size: 0.6rem;
    }
}